{% extends "base_index.html" %}
<!-- import form receiving model -->
{% import 'bootstrap/wtf.html' as wtf %}



{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Data Science Competitions Deadlines</title>
<meta name="description" content="Countdowns to popular Data Science Competitions deadlines">
<meta name="author" content="Herb">
<script type="text/javascript" src="{{ url_for('static', _external = True, filename='js/jquery.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', _external = True, filename='bootstrap-4.2.1-dist/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', _external = True, filename='deadlines_css/deadlines.css') }}" media="screen,projection">    
<!-- icon -->
<link rel="icon" href="{{ url_for('static', _external = True, filename='img/favicon.ico') }}">
<style> 
  #navbar {/* 导航栏 */
      top: 0; /* Hide the navbar 50 px outside of the top view */
  }
  .form-signup {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
  }
      </style>      
{% endblock %}


{% block container %}
{{ super() }}

    <div class="row">
            <!-- Just send a form to wtf is enough -->
            <!-- <form method="post">
                {{ form.csrf_token }}
                {{ form.email.label }}
                {{ form.email(size = 64) }}
                {{ form.nickname.label }}
                {{ form.nickname(size = 64) }}
                {{ form.password.label }}
                {{ form.password(size = 64) }}
                {{ form.re_password.label }}
                {{ form.re_password(size = 64) }}
                {% if captcha %}
                <img src="{{ captcha.captcha_url }}" alt="captcha" width="130" height="50">
                {{ form.captcha.label }}
                {{ form.captcha(size = 8) }}
                {% endif %}
                <button class="btn btn-info btn-lg" type=submit>Submit</button>
            </form> -->

        <form class="form-signup" method="post">
                {{ form.csrf_token }}
                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                <p>Register and start your trip right now. </p>
            <div class="form-group">
                {{ form.email.label }}
                <p>{{ form.email(size = 64) }}</p>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                {{ form.nickname.label }}
                <p>{{ form.nickname(size = 64) }}</p>
                <small id="nicknameHelp" class="form-text text-muted">Your lovely( or awesome ) username please. </small>
            </div>
            <div class="form-group">
                {{ form.password.label }}
                <p>{{ form.password(size = 64) }}</p>
            </div>
            <div class="form-group">
                {{ form.re_password.label }}
                <p>{{ form.re_password(size = 64) }}</p>
            </div>
            {% if captcha %}
            <div class="form-group">
                <img src="{{ captcha.captcha_url }}" alt="captcha" width="130" height="50">
                <!-- {{ form.captcha.label }} -->
                <p></p>
                <p>{{ form.captcha(size = 8) }}</p>
                <small id="emailHelp" class="form-text text-muted">Please validate within 10 minutes.</small>
            </div>
            {% endif %}
        <button class="btn btn-info btn-lg" type=submit>Submit</button>
        </form>
    </div>
{% endblock %}


{% block script_js %}
{{ super() }}
{% endblock %}