{% extends "base_index.html" %}
<!-- import form receiving model -->
{% import 'bootstrap/wtf.html' as wtf %}



{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Data Science Competitions Deadlines</title>
<meta name="description" content="Countdowns to popular Data Science Competitions deadlines">
<meta name="author" content="Herb">
<script type="text/javascript" src="{{ url_for('static', _external = True, filename='js/jquery.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', _external = True, filename='bootstrap-4.2.1-dist/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', _external = True, filename='deadlines_css/deadlines.css') }}" media="screen,projection">    
<!-- icon -->
<link rel="icon" href="{{ url_for('static', _external = True, filename='img/favicon.ico') }}">
<style> 
  #navbar {/* 导航栏 */
      top: 0; /* Hide the navbar 50 px outside of the top view */
  }
      </style>      
{% endblock %}


{% block container %}
{{ super() }}

    <h1>Register</h1>
    <br>
    <p>Register and start your trip right now. </p>
    <div class="row">
        <div class="col-md-4">
            <!-- Just send a form to wtf is enough -->
            <form method="post">
                {{ form.csrf_token }}
                {{ form.email.label }}
                {{ form.email(size = 64) }}
                {{ form.password.label }}
                {{ form.password(size = 64) }}
                {{ form.re_password.label }}
                {{ form.re_password(size = 64) }}
                {% if captcha %}
                <img src="{{ captcha.captcha_url }}" alt="captcha" width="130" height="50">
                {{ form.captcha.label }}
                {{ form.captcha(size = 8) }}
                {% endif %}
                <button class="btn btn-info btn-lg" type=submit>Submit</button>
            </form>
        </div>
    </div>
{% endblock %}


{% block script_js %}
{{ super() }}
{% endblock %}