{% extends "base_bs.html" %}
<!-- import form receiving model -->
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Register</h1>
    <br>
    <p>Register and start your trip right now. </p>
    <div class="row">
        <div class="col-md-4">
            <!-- Just send a form to wtf is enough -->
            <form method="post">
                {{ form.csrf_token }}
                {{ form.email.label }}
                {{ form.email(size = 64) }}
                {{ form.password.label }}
                {{ form.password(size = 64) }}
                {{ form.re_password.label }}
                {{ form.re_password(size = 64) }}
                {% if captcha %}
                <img src="{{ captcha.captcha_url }}" alt="captcha" width="130" height="50">
                {{ form.captcha.label }}
                {{ form.captcha(size = 8) }}
                {% endif %}
                <button class="btn btn-info btn-lg" type=submit>Submit</button>
            </form>
        </div>
    </div>
{% endblock %}