{% extends "base_index.html" %}

<!-- import form receiving model -->
{% import 'bootstrap/wtf.html' as wtf %}


{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Data Science Competitions Deadlines</title>
<meta name="description" content="Countdowns to popular Data Science Competitions deadlines">
<meta name="author" content="Herb">
<script type="text/javascript" src="{{ url_for('static', _external = True, _scheme="https", filename='js/jquery.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', _external = True, _scheme="https", filename='bootstrap-4.2.1-dist/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', _external = True, _scheme="https", filename='deadlines_css/deadlines.css') }}" media="screen,projection">
<!-- icon -->
<link rel="icon" href="{{ url_for('static', _scheme="https", _external = True, filename='img/favicon.ico') }}">
<style> 
  #navbar {/* 导航栏 */
      top: 0; /* Hide the navbar 50 px outside of the top view */
  }
        #navbar {
            padding: 5px 10px;  /* Large padding which will shrink on scroll (using JS) */ 
          }
          #navbar #logo {
            font-size: 25px;
          }    
      </style>
{% endblock %}

    {% block container %}
        <!-- ########## -->

        {% if auth.operator == True %}
        <h1>My Publishing Competitions</h1>
            <br>
            <a href="{{ url_for('competition-operator.competition_inserting_view')  }}" class="btn btn-default" role="button">
                Upload New Competition!
            </a>
        {% else %}
        <h1>{{ auth.account_nickname }}'s Publishing Competitions</h1>
            <br>
        {% endif %}
        <!-- 已发表的言论 -->
        {% if comp_list %}
            {% for comp in comp_list %}
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4><a href="{{ url_for('competition-operator.competition_detail_view', comp_record_hash=comp.comp_record_hash) }}">{{ comp.comp_title }}</a></h4>
                    </div>
                    <div class="panel-footer">
                        <b>Last Update Time:   </b> {{ comp.update_time }}
                    </div>
                    <div class="panel-footer">
                        <b>Operations:   </b>
                        {% if auth.operator == True %}
                        <a href="{{ url_for('competition-operator.competition_detail_view', comp_record_hash=comp.comp_record_hash) }}"> View </a>
                        |
                        <a href="{{ url_for('competition-operator.competition_updating_view', comp_record_hash=comp.comp_record_hash) }}"> Modify </a>
                        |
                        <a href="{{ url_for('competition-operator.competition_delete_confirm', comp_record_hash=comp.comp_record_hash) }}"> Delete </a>
                        {% else %}
                        <a href="{{ url_for('competition-operator.competition_detail_view', comp_record_hash=comp.comp_record_hash) }}"> View </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>No Competitions.</b>
                    </div>
                    <div class="panel-body">
                        <h4>Come and post competitions which you're interested in!</h4>
                        <h4>We really need your help to enrich competitions information.</h4>
                    </div>
                    <div class="panel-footer">
                        by <b>DataSciCamp Team</b>
                    </div>
                </div>
            </div>
        {% endif %}

    {% endblock %}


{% block script_js %}
{{ super() }}
{% endblock %}