{% extends "base_index.html" %}
<!-- import form receiving model -->
{% import 'bootstrap/wtf.html' as wtf %}


{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Data Science Competitions Deadlines</title>
<meta name="description" content="Countdowns to popular Data Science Competitions deadlines">
<meta name="author" content="Herb">
<script type="text/javascript" src="{{ url_for('static', _external = True, _scheme="https", filename='js/jquery.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', _external = True, _scheme="https", filename='bootstrap-4.2.1-dist/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', _external = True, _scheme="https", filename='deadlines_css/deadlines.css') }}" media="screen,projection">
<!-- icon -->
<link rel="icon" href="{{ url_for('static', _scheme="https", _external = True, filename='img/favicon.ico') }}">
<style>
  #navbar {/* 导航栏 */
      top: 0; /* Hide the navbar 50 px outside of the top view */
  }
      </style>
{% endblock %}


{#{% block container %}#}
{#    <h1>Competition Info Update </h1>#}
{#    <br>#}
{#    <p>Modify Competition Information right now. </p>#}
{#    <div class="row">#}
{#        <div class="col-md-4">#}
{#            <!-- Just send a form to wtf is enough -->#}
{#            {{ wtf.quick_form(form) }}#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

{% block container %}
    <div class="row">
        <div class="form-group">
            <!-- Just send a form to wtf is enough -->
            <!-- {{ wtf.quick_form(form) }} -->

            <!-- <form class="form" method="post">
                {{ form.csrf_token }}
                <label>{{ form.comp_title.label }}</label>
                {{ form.comp_title }}
                <label>{{ form.comp_subtitle.label }}</label>
                {{ form.comp_subtitle }}
                <label>{{ form.comp_range.label }}</label>
                {{ form.comp_range }}

            </form> -->
        </div>

            <form class="form-competition" method="post">
                {{ form.csrf_token }}
                <h1 class="h3 mb-3 font-weight-normal">Competition Info Update </h1>
                <p>Modify Competition Information right now. </p>
            <div class="form-group">
                {{ form.comp_title.label }}
                <p>{{ form.comp_title }}</p>
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group">
                {{ form.comp_subtitle.label }}
                <p>{{ form.comp_subtitle }}</p>
            </div>
            <div class="form-group">
                {{ form.comp_range.label }}
                <p>{{ form.comp_range }}</p>
            </div>
            <div class="form-group">
                {{ form.comp_url.label }}
                <p>{{ form.comp_url }}</p>
            </div>
            <div class="form-group">
                {{ form.comp_description.label }}
                <p>{{ form.comp_description }}</p>
            </div>
            <div class="form-group">
                {{ form.comp_host_name.label }}
                <p>{{ form.comp_host_name }}</p>
            </div>
            <div class="form-group">
                {{ form.comp_host_url.label }}
                <p>{{ form.comp_host_url }}</p>
            </div>
            <div class="form-group">
                {{ form.prize_currency.label }}
                <p>{{ form.prize_currency }}</p>
            </div>
            <div class="form-group">
                {{ form.prize_amount.label }}
                <p>{{ form.prize_amount }}</p>
            </div>
            <div class="form-group">
                {{ form.deadline.label }}
                <p>{{ form.deadline }}</p>
            </div>
            <div class="form-group">
                {{ form.timezone.label }}
                <p>{{ form.timezone }}</p>
            </div>
            <div class="form-group">
                {{ form.comp_scenario.label }}
                <p>{{ form.comp_scenario }}</p>
            </div>
            <div class="form-group">
                {{ form.data_feature.label }}
                <p>{{ form.data_feature }}</p>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
{% endblock %}



{% block script_js %}
{{ super() }}
{% endblock %}