{% extends "base_index.html" %}
<!-- import form receiving model -->
{% import 'bootstrap/wtf.html' as wtf %}

<!-- pip install bootstrap-flask -->
<!-- {% from 'bootstrap/form.html' import  render_form %} -->
{% from 'bootstrap/form.html' import render_field %}

{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Data Science Competitions Deadlines</title>
<meta name="description" content="Countdowns to popular Data Science Competitions deadlines">
<meta name="author" content="Herb">
<script type="text/javascript" src="{{ url_for('static', _external = True, filename='js/jquery.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', _external = True, filename='bootstrap-4.2.1-dist/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', _external = True, filename='deadlines_css/deadlines.css') }}" media="screen,projection">    
<!-- icon -->
<link rel="icon" href="{{ url_for('static', _external = True, filename='img/favicon.ico') }}">
<style> 
  #navbar {/* 导航栏 */
      top: 0; /* Hide the navbar 50 px outside of the top view */
  }

  .form-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
      </style>      
{% endblock %}


{% block container %}
{{ super() }}
    <div class="row">
        <div class="row">
            <!-- Way.1 -->
            <!-- Just send a form to wtf is enough -->
            <!-- {{ wtf.quick_form(form) }} -->

            <!-- Way.2 -->
            <!-- Outputs Bootstrap-markup for a complete Flask-WTF form. -->
            <!-- {{ render_form(form) }}    -->

            <!-- Way.3 -->
            <!-- Render a single form field. -->
            <!-- {{ form.csrf_token() }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.submit) }} -->
            <form class="form-signin" method="post">
                    {{ form.csrf_token }}
                    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                <div class="form-group">
                    <label class="sr-only">{{ form.email.label }}</label>
                    {{ form.email }}
                    <!-- <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> -->
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">{{ form.password.label }}</label>
                    {{ form.password }}                    
                    <!-- <label for="exampleInputPassword1">Password</label> -->
                    <!-- <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->
                </div>
                <!-- <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block script_js %}
{{ super() }}
{% endblock %}