{% extends "base_bs.html" %}
<!-- import form receiving model -->
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Home page </h1>
    <br>
    <p>Your account email is : {{ account.account_email }}</p>
    {% if account.account_status == 'unverify' %}
        <br>
        <h4>The last step: Verify Your Email</h4>
        <div class="row">
            <div class="col-md-4">
                <!-- Just send a form to wtf is enough -->
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    {% endif %}
{% endblock %}