{% extends "base_index.html" %}
<!-- import form receiving model -->
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Data Science Competitions Deadlines</title>
<meta name="description" content="Countdowns to popular Data Science Competitions deadlines">
<meta name="author" content="Herb">
<script type="text/javascript" src="{{ url_for('static', _external = True, _scheme="https", filename='js/jquery.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', _external = True, _scheme="https", filename='bootstrap-4.2.1-dist/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', _external = True, _scheme="https", filename='deadlines_css/deadlines.css') }}" media="screen,projection">
<!-- icon -->
<link rel="icon" href="{{ url_for('static', _scheme="https", _external = True, filename='img/favicon.ico') }}">
<style> 
  #navbar {/* 导航栏 */
      top: 0; /* Hide the navbar 50 px outside of the top view */
  }
      </style>      
{% endblock %}


{% block container %}
{{ super() }}
    <h1>Home page </h1>
    <br>
    <h3>Greeting, {{ account.account_nickname }}!</h3>
    <br>
    <p>Your account email is : {{ account.account_email }}</p>
    <br>
    <p>Contact us by sending email to <b>datascicamp@yeah.net</b></p>
    <p>We are very delighted to receive your advices!</p>
    <p>Sincerely, DataSciCamp Team.</p>
    <br>
{#    {% if account.account_status == 'unverify' %}#}
{#        <br>#}
{#        <h4>The last step: Verify Your Email</h4>#}
{#        <div class="row">#}
{#            <div class="col-md-4">#}
{#                <!-- Just send a form to wtf is enough -->#}
{#                {{ wtf.quick_form(form) }}#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}

{% endblock %}



{% block script_js %}
{{ super() }}
{% endblock %}