{% extends "base_index.html" %}
<!-- import form receiving model -->
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Data Science Competitions Deadlines</title>
<meta name="description" content="Countdowns to popular Data Science Competitions deadlines">
<meta name="author" content="Herb">
<script type="text/javascript" src="{{ url_for('static', _external = True, filename='js/jquery.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', _external = True, filename='bootstrap-4.2.1-dist/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', _external = True, filename='deadlines_css/deadlines.css') }}" media="screen,projection">    
<!-- icon -->
<link rel="icon" href="{{ url_for('static', _external = True, filename='img/favicon.ico') }}">
<style> 
  #navbar {/* 导航栏 */
      top: 0; /* Hide the navbar 50 px outside of the top view */
  }
      </style>      
{% endblock %}


{% block container %}
{{ super() }}
    <h1>Meeting DataSciCamp Team!</h1>
    <h3>Fork us on <a href="https://github.com/iphysresearch/DataSciComp">Github</a>  now.</h3>
    <br>
    <p>Here are the founders and the developers of this website.</p>
    <div class="row">
        <div class="col-md-4">
            <img alt="" width="260" height="260" class="avatar width-full height-full avatar-before-user-status"
                 src="https://avatars3.githubusercontent.com/u/14322948?s=96&amp;v=4">
        </div>
        <div class="col-md-8">
            <h1>Herb Wang</h1>
            <br>
            <h3>Father of DataSciCamp & Chief UI Designer</h3>
            <br>
            <p>
                PhD of Beijing Normal University.<br>

                He is extremely passionate about data science competitions
                and has been continuously maintained the 'DataSciComp' project since 2016.<br>

                Apart from that, he is also a professional physicist and a machine-learning scientist.
            </p>
            <p> Contact me:
                <a href="https://github.com/iphysresearch">Github</a> |
                Email: herbwang1989@gmail.com
            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
                        <img alt="" width="260" height="260" class="avatar width-full height-full avatar-before-user-status"
                 src="https://avatars1.githubusercontent.com/u/31195026?s=460&amp;v=4">
        </div>
        <div class="col-md-8">
            <h1>Leon Tian</h1>
            <br>
            <h3>Main Founder( Chief Architecture & Developer ) of DataSciCamp</h3>
            <br>
            <p>
                Master of the University of Sydney.<br>

                A dedicated software engineer. 'Making the world more efficient by advanced technology' is his ideal.<br>

                The architect of DataSciCamp is called 'service-mesh', a micro-service architect,
                which is Leon's first project based on that design pattern.
            </p>
            <p> Contact me:
                <a href="https://github.com/XinyaoTian">Github</a> |
                Email: leontian1024@gmail.com
            </p>
        </div>
    </div>
{% endblock %}