<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Science Competitions Deadlines</title>
  <meta name="description" content="Countdowns to popular Data Science Competitions deadlines">
  <meta name="author" content="Herb">
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', _external = True, _scheme="https", filename='bootstrap-4.2.1-dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', _external = True, _scheme="https", filename='deadlines_css/deadlines.css') }}"
    media="screen,projection">    
  <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
  <!-- <script src="https://libs.baidu.com/jquery/1.7.2/jquery.min.js"></script> -->
  <script type="text/javascript" src="{{ url_for('static', _external = True, filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript"
    src="{{ url_for('static', _external = True, filename='js/jquery.countdown.min.js') }}"></script>
  <script src="{{ url_for('static', _external = True, _scheme="https", filename='js/moment.min.js') }}"></script>
  <script src="{{ url_for('static', _external = True, _scheme="https", filename='js/moment-timezone-with-data.min.js') }}"></script>
  <script src="{{ url_for('static', _external = True, _scheme="https", filename='js/store.min.js') }}"></script>
  <script src="{{ url_for('static', _external = True, _scheme="https", filename='js/ouical.min.js') }}"></script>
  <!-- icon -->
  <link rel="icon" href="{{ url_for('static', _external = True, _scheme="https", filename='img/favicon.ico') }}">
  <!-- <link rel="shortcut icon" href="#" /> -->
  <!-- <link href="./static/img/favicon.ico" rel="shortcut icon">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
        <link rel="manifest" href="./static/img/site.webmanifest">
        <link rel="mask-icon" href="./static/img/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="msapplication-TileImage" content="./static/img/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff"> -->
  {% endblock %}
</head>

<body>
  
    {% block navbar %}
    <div id="navbar">
        <a href="{{ url_for('index') }}" id="logo">DataSciCamp</a>
        <div id="navbar-right">
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('auth.register_view') }}">Register</a>
                <a href="{{ url_for('auth.login_view') }}">Login</a>
            {% else %}
                <a class="alert-danger" href="{{ url_for('competition-operator.competition_inserting_view') }}">Upload Now!</a>
                <a href="{{ url_for('competition-operator.competition_list_view', user_id=current_user.account_id) }}">Panel</a>
                <a class="active" href="{{ url_for('auth.home_view', account_id=current_user.account_id) }}">Home</a>
                <a href="{{ url_for('logout_func') }}">Logout</a>
            {% endif %}
            <a href="{{ url_for('about') }}">About Us</a>
        </div>
    </div>
    {% endblock %}


  <div class="container">
    <!-- Fork me on GitHub -->
    <!-- <a href="https://github.com/iphysresearch/DataSciComp" style="position: absolute; top: 0; right: 0; border: 0;"><img width="149" height="149" src="https://github.blog/wp-content/uploads/2008/12/forkme_right_red_aa0000.png?resize=149%2C149" class="attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1"></a> -->
      {% block container %}
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, message in messages %}
                      {% if category == 'info' %}
                          <div class="alert alert-info" role="alert">{{ message }}</div>
                      {% elif category == 'success' %}
                          <div class="alert alert-success" role="alert">{{ message }}</div>
                      {% elif category == 'warning' %}
                          <div class="alert alert-warning" role="alert">{{ message }}</div>
                      {% elif category == 'danger' %}
                          <div class="alert alert-danger" role="alert">{{ message }}</div>
                      {% endif %}
                  {% endfor %}
              {% endif %}
          {% endwith %}
      {% endblock %}

    {% block footer %}
    <footer>
      © 2019 
      <a href="/">DataSciCamp</a>.
      All Rights Reserved.
      <!-- is maintained by
      <a href="https://github.com/iphysresearch">@Herb</a> -->
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    </footer>


    {% endblock %}


  {% block script_js %}
    <script type="text/javascript" charset="utf-8" src="{{ url_for('static', _scheme="https", _external = True, filename='js/FixedFooter.js') }}"></script>
  {% endblock %}
</body>

</html>