{% extends 'base.html' %}

{% block head %}
{{ super() }}
<style type="text/css">
    a:hover {
        color: #0099CC
    }

    /*.row:hover{border-style: None solid;
        border-color:#666666;
        border-width:1px;
    }*/
    #menu {
        /* https://www.w3.org/Style/Examples/007/menus.zh_CN.html#L384 */
        position: fixed;
        right: 0;
        top: 50%;
        width: 8em;
        margin-top: -2.5em;
    }
    /* Scroll Back To Top Button */
    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: red; /* Set a background color */
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
      }
      
      #myBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
      }

</style>
{% endblock %}



{% block container %}
{{ super() }}
<div class="page-header">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <!-- H1 Title -->
            <h1>Data Science Challenge / Competition
                <!-- Begin Github star -->
                <iframe
                    src="https://ghbtns.com/github-btn.html?user=iphysresearch&repo=DataSciComp&type=star&count=true"
                    scrolling="0" width="170px" height="20px" frameborder="0"></iframe>
                <!-- End Github star -->
            </h1>
        </div>
        <div class="meta col-xs-12">
            <li>Countdowns to <b>ENTRY DEADLINE</b> of popular Data Science Challenges/Competitions.</li>
            <li>To add/update a challenge or any other advices to me, plesase don't hesitate and send in a
                <a target="_blank" href="https://github.com/iphysresearch/DataSciComp"
                    style="background-color:#CCFF66">pull request</a>.
            </li>
            <li>
                <a href="/DataSciComp/hostby.html" style="background-color:#CCFF66">Here</a> offer a list of links to
                various sources in which you may have an interest.
            </li>
            <li>Subscribe to our mailing list for news and updates! <a
                    href="https://iphysresearch.github.io/DataSciComp/update_log.xml"><img
                        src=".{{ url_for('.static', _external = False, filename='img/rss.gif') }}" width="36" height="14"></a></li>
        </div>
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup {
                background: #fff;
                clear: left;
                font: 14px Helvetica, Arial, sans-serif;
                width: 500px;
            }

            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup" class="meta col-xs-12">
            <form
                action="https://github.us20.list-manage.com/subscribe/post?u=9fc96c0c089d4508de8f618a5&amp;id=fc48c9457c"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <!-- <label for="mce-EMAIL">Subscribe to our mailing list</label> -->
                    <!-- <li>Subscribe to our mailing list</li> -->
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address"
                        required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                            name="b_9fc96c0c089d4508de8f618a5_fc48c9457c" tabindex="-1" value=""></div>
                    <div class="clear">
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                            class="button">
                    </div>
                </div>
            </form>
        </div>
        <!--End mc_embed_signup-->
    </div>

    <br>
    <!-- Begin: checkbox -->
    <div class="row">
        <div class="col-xs-12">
            <!-- <form class="form-horizontal">
                <div class="form-group">
                    {% for id_checkbox in id_type_checkboxs %}
                    <div class="col-md-4 col-xs-5">
                        <div class="checkbox">
                            <label><input id="{{ id_checkbox.id }}" class="" type="checkbox"></input>
                                {{ id_checkbox.name }}
                            </label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </form> -->
            <form class="form-horizontal">
                <div class="form-group">
                    {% for id_checkbox in id_type2_checkboxs %}
                    <div class="col-md-4 col-xs-5">
                        <div class="checkbox">
                            <label><input id="{{ id_checkbox.id }}" class="" type="checkbox"></input>
                                {{ id_checkbox.name }}
                            </label>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-md-4 col-xs-5">
                        <div class="checkbox">
                            <label style="color:#FF0033"><input id="rewarded-checkbox" class="" type="checkbox"></input>
                                Rewards filter
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End: checkbox -->
    <div class="row">
        <div class="meta col-xs-12">
            <!-- Export all deadlines to
            <a href="https://calendar.google.com/calendar/r?cid=http://aideadlin.es/ai-deadlines.ics">Google Calendar</a>
             . -->
            <p id="system-time"></p>
        </div>
    </div>
</div>

<!-- Begin: Main content -->
{% for Comp in competitions %}
<div id="{{ Comp.comp_record_hash }}"
    class="{{ '-comp '.join(Comp.comp_scenario) }}-comp {% if Comp.prize_currency %}{% else %}un{% endif %}rewarded-comp">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <a href="{{ Comp.comp_host_url }}" name="{{ Comp.comp_record_hash }}"><b>{{ Comp.comp_title }}</b></a>
            <div class="meta">{{ Comp.comp_range }}
                // Host by 
                {% for host in Comp.comp_host %}
                {% if loop.index > 1 %}
                &
                {% endif %}
                <a href="{{ host.comp_host_url }}" style="background-color:#CCFF66">{{ host.comp_host_name }}</a>
                {% endfor %}
                {% if Comp.prize_currency %}
                // Prize: {{ Comp.prize_amount }} {{ Comp.prize_currency }}
                {% else %}
                {% endif %}</div>
            {% if Comp.comp_description %}
             <div class="note"><b>Note</b>: {{ Comp.comp_description | safe }} <!-- safe 渲染时不转义 -->
                <!-- More info <a href="http://baidu.com">here</a> -->
            </div>
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-6">
            {% if Comp.deadline != 'No deadline' %}
            <span class="timer"></span>
            <div class="deadline">
                <div>Entry Deadline: <span class="deadline-time"></span></div>
            </div>
            <div class="calendar"></div>
            {% else %}
            <div>No Deadline.</div>
            {% endif %}
        </div>
    </div>
    <hr>
</div>
{% endfor %}
<!-- End: Main content -->

<footer>
    <!-- https://clustrmaps.com/ -->
    <script type='text/javascript' id='clustrmaps'
        src='//cdn.clustrmaps.com/map_v2.js?cl=080808&w=557&t=tt&d=mmxT7aC-Q0y6XjIG4NnfnrS0FBgO6N7mGMI7h0MB_OM&co=ffffff&ct=808080&cmo=3acc3a&cmn=ff5353'>
    </script>
    <a href="/">DataSciComp</a>
    is maintained by
    <a href="https://github.com/iphysresearch">@Herb</a>
    .
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
</footer>
<hr>
{% endblock %}


{% block script_js %}
{{ super() }}
<script type="text/javascript" charset="utf-8">

    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
    // 导航栏  https://www.w3schools.com/howto/howto_js_navbar_shrink_scroll.asp
    // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
    if (document.documentElement.scrollTop > 25) {
        document.getElementById("navbar").style.padding = "10px 50px";
        document.getElementById("logo").style.fontSize = "25px";
        } else {
        document.getElementById("navbar").style.padding = "50px 90px";
        document.getElementById("logo").style.fontSize = "35px";
        }        
    // Scroll Back To Top Button   https://www.w3schools.com/howto/howto_js_scroll_to_top.asp
    // When the user scrolls down 20px from the top of the document, show the button        
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
    }
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
    
    // Your system time
    var t = null;
    t = setTimeout(showTime,1000);//开始执行
    function showTime()
    {
       clearTimeout(t);//清除定时器
       dt = new Date();
       document.getElementById("system-time").innerHTML = 'Your current server time: '+dt;
       t = setTimeout(showTime,1000); //设定定时器，循环执行             
    } 
      // https://blog.csdn.net/dcb_ripple/article/details/54347339
      var Cookie = {  
        setCookie:function(name,value,option){  
            var str = name + "=" + escape(value);  
            if(option){  
                if(option.expireDays){  
                    var date = new Date();  
                    var ms = option.expireDays * 24 * 3600 * 1000;  
                    date.setTime(date.getTime() + ms);  
                    str += "; expires=" + date.toGMTString();  
                }  
                if(option.path)str += ";path=" + option.path;  
                if(option.domain)str += ";domain=" + option.domain;  
                if(option.secure)str += ";true";  
            }  
            document.cookie = str;  
        },  
        getCookie:function(name){  
            var cookies = document.cookie.split(";");  
            for(var i=0; i<cookies.length;i++){  
                var arr=cookies[i].split("=");  
                if(arr[0].trim()==name){  
                    return unescape(arr[1]);  
                }  
            }  
            return "";  
        },  
        delCookie:function(name){  
            this.setCookie(name,"",{expireDays:-1});  
        }  
    }  
    window.onload=function(){  
        if("1"==Cookie.getCookie("diffmaker")){  
            //alert("找到Cookie，我将不再刷新页面，并删除Cookie");  
            Cookie.delCookie("diffmaker");  
        }else{  
            //alert("没有找到Cookie，我将刷新页面!");  
            Cookie.setCookie("diffmaker","1",null);  
            //window.location.reload(true);  // Development....
        }  
    }  
    </script>
{% endblock %}


<!-- 完整的 JavaScript 参考手册：http://www.w3school.com.cn/jsref/index.asp
- JavaScript 本地对象和内置对象
- Browser 对象（BOM）
- HTML DOM 对象 -->

<!-- HTML DOM Style 对象参考手册：http://www.w3school.com.cn/jsref/dom_obj_style.asp -->

<!-- $() = document.getElementById() -->